{% extends "blog/base.html" %}
{% block header %}
<header class="masthead" style="background-image: url('/static/assets/img/about_me.png')">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading"  style='font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";'>
            </div>
          </div>
      </div>
  </div>
</header>
{% endblock header %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="/static/assets/img/hrosales.jpg">
    <div class="media-body pl-5 pt-3">
    <p>Hola! Mi nombre es Hiram Rosales, Actualmente vivo en la ciudad de Gudalajara, México. Me desempeño profesionalmente como Cloud Engineer / DevOps.<br />
      <br />
      En esta pagina podran crear usuarios y postear entradas para el blog, asi como explorar las entradas por cada usuario.<br />
      Este blog esta escrito en Django y Python, adicionalmente se hace uso de tecnologias como HTML, CSS y algo de JS.<br />
      <br />
      De igual manera, en el pie de pagina estan los links a Intagram, Github y LinkedIn.<br />
      <br />
      <br />
      Muchas gracias!
    </p>
  </div>
</div>
{% endblock content %}
