{% extends "blog/base.html" %}
{% block header %}
<header class="masthead" style="background-image: url('/static/assets/img/about_me.png')">
  <div class="overlay"></div>
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
              <div class="page-heading"  style='font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";'>
            </div>
          </div>
      </div>
  </div>
</header>
{% endblock header %}
{% block content %}
<div class="content-section">
  <div class="media">
    <img class="rounded-circle account-img" src="/static/assets/img/hrosales.jpg">
    <div class="media-body pl-5 pt-3">
    <p>Hello! My name is Hiram Rosales. I'm a Cloud Engineer based in Guadalajara, Mexico.<br />
      This is my Django Blog for the CoderHouse final project. <br />
      <br />
      <br />
      Thanks!
    </p>
  </div>
</div>
{% endblock content %}
